
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;1,500&family=Raleway:wght@700&family=Roboto&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
}
header{
    background-color: #FFFBF0;
}
.banner-color{
    color: #FABE4C;
}
button{
    background-color: #A4BC46;
}
#btn:hover{
    background-color:lightblue;
    
}

#image{
    transition: transform 6s ease-in-out;

}
#image:hover{
    transform: scale(.7);
}